body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 750px;
    margin: 200px auto;
}

.left {
    max-width: 500px;
}

.logo {
    color: #1877f2;
    font-size: 55px;
    margin-bottom: 10px;
}

.desc {
    font-size: 22px;
}

.login-box {
    background-color: white;
    width: 275px;
    border: 1px solid #ddd;
    padding: 25px 25px 15px;
    text-align: center;
}

.login-box input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
}

.login-box button {
    width: 104%;
    padding: 10px;
    background: #1877f2;
    color: white;
    border: none;
    border-radius: 6px;
}
#pass{
    color: #1877f2;
    font-size: 13px;
    padding: 0;
    margin: 8px 0 12px;
    display: block;
    text-align: center;
    text-decoration: none;
}

#pass1{
    color: white;
    font-size: 16px;
    width: 104%;
    padding: 6px 0;
    text-align: center;
    background-color: #04d904;
    display: block;
    margin: 0 auto;
    text-decoration: none;
}
.divider {
    border: none;
    height: 1px;
    background-color: #dadde1;
    margin: 18px 0;
}
.create-page {
    margin-top: 18px;
    font-size: 12px;
    color: #1c1e21;
    text-align: center;
}
.right {
    width: 325px;
    text-align: center;
}